html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 18px;
}

.container-opening, 
.container-info,
.container-quote,
.container-action {
    padding: 0 450px;
}

.container-opening {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
}

.head-links {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.head-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.container-hero {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    padding: 108px 0;
}

.hero-text {
    flex: 1 0 512px;
}

.hero-text h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text button {
    border: 0;
    font-weight: bold;
}

.hero-image {
    align-items: center;
    background-color: #6d747d;
    color: #e5e7eb;
    display: flex;
    flex-basis: 512px;
    flex-grow: 1;
    justify-content: center;
}

.container-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    padding-top: 15px;
}

.container-info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.panel-container {
    display: flex;
    gap: 75px;
}

.info-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info-panel p {
    color: #4b5563;
    font-size: 18px;
    max-width: 200px;
    text-align: center;
}

.info-image {
    border-radius: 10px;
    height: 200px;
    outline: 8px solid #3882f6;
    width: 200px;
}

.container-quote {
    align-items: center;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px 600px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.quote-source-text {
    align-self: flex-end;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.container-action {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.action-banner {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    gap: 140px;
    padding: 40px 130px;
}

.action-banner-text {
    display: flex;
    flex-direction: column;
}

.action-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.action-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.action-banner button {
    border: #f9faf8 solid 3px;
    font-weight: 600;
}

.footer {
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 48px;
}